.container-main {
  height: 100%;
  width: 100%;
  background-image: url("bg-hu.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: ;
  background-size: 100% 100%;
  position: absolute;
}

.btn-success {
  background-color: transparent;
  border-color: transparent;
}

.menu1 {
  left: 3%;
  position: absolute;
  display: block;  
}

.menu2 {
  left: 47%;
  position: absolute;
  display: block;
}

.bubo {
  position: absolute;
  display: block;
  left: 82%;
  top: 64.5%;
  width: 15%; 
  height: 33%;
  background-image: url("dr-bubo.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer; 
}

.frakk {
  position: absolute;
  display: block;
  left: 33.8%;
  top: 73.8%;
  width: 10%; 
  height: 15%;
  background-image: url("frakk.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer; 
}

.hoho {
  position: absolute;
  display: block;
  left: 29%;
  top: 29.3%;
  width: 5%; 
  height: 12%;
  background-image: url("hoho.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer; 
}

.maci {
  position: absolute;
  display: block;
  left: 31%;
  top: 48%;
  width: 10%; 
  height: 20%;
  background-image: url("maci.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer; 
}

.mezsga {
  position: absolute;
  display: block;
  left: 55.5%;
  top: 58%;
  width: 8%; 
  height: 13%;
  background-image: url("meszga.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer; 
}

.pompom {
  position: absolute;
  display: block;
  left: 17%;
  top: 53%;
  width: 7%; 
  height: 15%;
  background-image: url("pompom.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer; 
}

.pumukli {
  position: absolute;
  display: block;
  left: 71%;
  top: 49%;
  width: 5%; 
  height: 15%;
  background-image: url("pumukli.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer; 
}

.susu {
  position: absolute;
  display: block;
  left: 53%;
  top: 13.5%;
  width: 8%; 
  height: 15%;
  background-image: url("susu.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer; 
}

.vili {
  position: absolute;
  display: block;
  left: 45%;
  top: 35%;
  width: 5%; 
  height: 10%;
  background-image: url("vili.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer; 
}

.vuk {
  position: absolute;
  display: block;
  left: 57%;
  top: 85%;
  width: 10%; 
  height: 12%;
  background-image: url("vuk.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer; 
}

.demo {
  left: 6%;
  top: 10%;
  color: white;
  font-size: 3em;
  border: 2px #e5f4fb;
  background-color: transparent;
  position: absolute;
  display: block;
}
