.container2 {
  height: 100%;
  width: 100%;
  background-image: url("bg-en.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: ;
  background-size: 100% 100%;
  position: absolute;
}



.btn-success {
  background-color: transparent;
}

.menu1 {
  left: 3%;
  position: absolute;
  display: block; 
}

.menu2 {
  left: 55%;
  position: absolute;
  display: block;
}

.tom {
  position: absolute;
  display: block;
  left: 84%;
  top: 84%;
  width: 12%; 
  height: 15%;
  background-image: url("tom.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer; 
}

.bugs {
  position: absolute;
  display: block;
  left: 55.5%;
  top: 57%;
  width: 8%; 
  height: 15%;
  background-image: url("bugs.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer; 
}

.chipndale {
  position: absolute;
  display: block;
  left: 29.5%;
  top: 30%;
  width: 6%; 
  height: 11%;
  background-image: url("chipndale.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer;
}

.donald {
  position: absolute;
  display: block;
  left: 14%;
  top: 81%;
  width: 10%; 
  height: 12%;
  background-image: url("donald.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer;
}

.mickey {
  position: absolute;
  display: block;
  left: 57%;
  top: 40.5%;
  width: 10%; 
  height: 12%;
  background-image: url("mickey.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer;
}

.pink {
  position: absolute;
  display: block;
  left: 37%;
  top: 75%;
  width: 7%; 
  height: 12%;
  background-image: url("pink.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer;
}

.popeye {
  position: absolute;
  display: block;
  left: 28%;
  top: 48%;
  width: 9%; 
  height: 16%;
  background-image: url("popeye.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer;
}

.runner {
  position: absolute;
  display: block;
  left: 9%;
  top: 20%;
  width: 8%; 
  height: 20%;
  background-image: url("runner.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer;
}

.simpsons {
  position: absolute;
  display: block;
  left: 0%;
  top: 50%;
  width: 20%; 
  height: 30%;
  background-image: url("simpsons.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer;
}

.woody {
  position: absolute;
  display: block;
  left: 76%;
  top: 30%;
  width: 6%; 
  height: 12%;
  background-image: url("woody.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  cursor: pointer;
}

.demo1 {
  left: 6%;
  top: 10%;
  color: white;
  font-size: 3em;
  border: 2px #e5f4fb;
  background-color: transparent;
  position: absolute;
  display: block;
}
